name: theta_client_flutter
description: THETA Client Flutter plugin project.
version: 1.12.0
homepage:

environment:
  sdk: ">=3.2.3 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  plugin:
    platforms:
      android:
        package: com.ricoh360.thetaclient.theta_client_flutter
        pluginClass: ThetaClientFlutterPlugin
      ios:
        pluginClass: ThetaClientFlutterPlugin
