name: theta-client CI with Gradle

on:
  push:
    branches: [ "main" ]
    paths:
     - 'kotlin-multiplatform/**'

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Build and Test with Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: publishToMavenLocal podPublishXCFramework testReleaseUnitTest
